html {
  background-color: #292927;
  color: whitesmoke;
}

.App {
  text-align: center;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}

.group > * {
  margin-left: 5px;
}
